body{
    font-size: 62.5%;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: #ff0000
}
#calc{
   width: 400px;
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid black;
   border-radius: 0px 0px 10px 10px;
   box-shadow: 1 2 1 2px;
}
#calcScreen{
    width: 93%;
    border: none;
    height: 65px;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 3rem;
    color: white;
    text-align: right;
    background-color: black;

}

button{
    height: 50px;
    font-size: 2rem;
    border: 1px white solid;
    box-shadow: 1 3 1 3px;
}
button:hover{
    background-color: #9c3809;
}

.reset{
    background-color: #dc143c;
}

.del{
    background-color: #a32404;
}

.operator{
    background-color:rgb(209, 139, 9);
}
.equal-sign{
    width: 100%;
    grid-area: 5/2/4/5;
    background-color: rgb(134, 121, 64);
    border: none;
    color: white;
    font-size: 2rem;
}
.keys-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 20px;
    padding: 20px;
    
    
    
    /*grid-template-rows: repeat(4 1fr);*/
}